* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

}

.nav {
    display: grid;
    height: 80px;
    background-color: Black;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center ;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 20px white;

}

.nav h1 {
    color: aquamarine;
    text-align: center;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.nav ul li {
    list-style-type: none;


}

.nav ul li a {
    color: White;
    font-size: 15px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav ul li :hover {
    color: aquamarine;
    transition: 0.5ms;
}

.nav .button{
    padding-right: 30px;
    display: flex;
    justify-content: right;
}
.nav .button a button{
    height: 30px;
    width: 100px;
   
    color: black;
    background-color: aquamarine;
    
}

.body {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    margin: 0;
    width: auto;
    padding: 100px 0 100px 50px;
    background-color: black;
    border-bottom: solid 1px white;
}

.body .left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}

.body .left h1 {
    padding: 0;
    text-align: left;
    font-size: 100px;
    margin: 0 20px 0 40px;
    color: aquamarine;
    line-height: 1em;
}

.body .left p {
    text-align: left;
    margin: 0 50px 0 40px;
    color: white;
    font-size: 18px;
}
.body .left a{
    text-decoration: none;
    color: white;
}
.body .left a button {
    
    width: 200px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: transparent;
    margin: 20px 20px 0 40px;
    border: solid 1px aquamarine;
    font-size: 20px;
    border-radius: 5px;
}

.body .left a button img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    
}
.body .right {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body .right h1 {
    padding: 150px 70px;
    border: solid 2px;
}
/* .body .right img {
    filter: sepia(100%);
} */

/* .projects {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
    width: cover;
    color: aquamarine;
    align-items: center;
    gap: 50px;
    padding: 100px 50px 50px 50px;
    border-bottom: solid 1px white;

}

.projects h1 {
    font-size: 2em;
}

.projects .projects_list {
    width: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.projects .projects_list .project {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    color: rgb(191, 186, 186);
    padding: 10px;
    gap: 40px;


}

.projects .projects_list .project img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;

}
.projects .projects_list .project h3{
    font-size: 1.5em;
    text-align: center;

}

.projects .projects_list .project p{
    font-size: 1em;
    text-align:justify;

} */

.projects {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: auto;
    width: cover;
    color: aquamarine;
    gap: 50px;
    padding: 10%;
    border-bottom: solid 1px white;

}


.projects .hello {
    width: 60%;
    text-align: center;
}

.projects h1 {
    font-size: 2em;
}

.projects .projects_list {
    width: cover;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    
}

.projects .projects_list .project {
    height: auto;
    width: auto;
    color: rgb(191, 186, 186);
    padding: 10px;
   
    border: solid 1px white;
    display: flex;
    flex-direction: column;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(209, 209, 209, 0.2), 0 6px 20px 0 rgba(243, 241, 241, 0.19);




}

.projects .projects_list .project img {
    aspect-ratio: 3/2;
    max-width: 100%;
    border-radius: 10px;

}
.projects .projects_list .project h3{
    font-size: 1.5em;
    text-align: center;

}

.projects .projects_list .project p{
    font-size: 1em;
    text-align:justify;

}
.projects .projects_list .project button{
    font-size: 1em;
 

}

.blogs {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
    width: cover;
    align-items: center;
    gap: 50px;
    color: aquamarine;
    padding: 100px 50px 50px 50px;
    border-bottom: solid 1px white;
}

.blogs .list {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.blogs .list .work {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    justify-content: center;
    gap: 30px;
}

.blogs .list .work img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.blogs .list .work h3,p{
    color: rgb(191, 186, 186);
}




.Experience {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
    width: cover;
    align-items: center;
    gap: 50px;
    color: aquamarine;
    padding: 100px 50px 50px 50px;
    border-bottom: solid 1px white;
}

.Experience .list {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Experience .list .info {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    justify-content: center;
    gap: 30px;
}

.Experience .list .info img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.Experience .list .work h3,p{
    color: rgb(191, 186, 186);
}

button{
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: transparent;
    margin: 0 20px 0 20px;
    border: solid 2px aquamarine;
    font-size: 15px;
    border-radius: 5px;
}








.about {
    height: 60vh;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: black;

}

.about .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .info h2 {
    margin: 0 20px 10px 30px;
    font-size: 30px;
    color: aquamarine;
}
.about .info .socials{
    margin:10px 30px 0 30px;
}
.about .info .socials ul{
    display: flex;
    gap: 5px;
}

.about .info .socials ul li a img{
    height: 25px;
    width: 50px;
}


.about .info p {
    margin: 0 50px 10px 30px;
    font-size: 13px;
    color: rgb(191, 186, 186);
}

.about .info h4 {
    margin: 0 20px 10px 30px;
    font-size: 12px;
    color: aquamarine;
}

.about .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    gap: 10px;
}

.about .feedback h2 {
    text-align: center;
    color: aquamarine;
}

.about .feedback label {
    width: cover;
    font-size: 15px;
    color: rgb(191, 186, 186);


}

.about .feedback input {
    width: cover;
    height: 40px;
    background-color: rgb(191, 186, 186);
    border-color: aquamarine;
    border-radius: 10px;
}
.about .feedback button{
    margin-top: 10px;
    height: 30px;
    width: 100px;
    background-color: transparent;
    border-radius: 10px;
    color: rgb(191, 186, 186);
    border: solid 1.5px aquamarine;
}

.about .feedback ol a{

    color: rgb(191, 186, 186);
    
}



@media (max-width: 600px) {
    img {
        max-width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    img {
        max-width: 50%;
    }
}

@media (min-width: 1201px) {
    img {
        max-width: 30%;
    }
}