.resume{
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.resume .info1{
    margin: 4%;
    display: grid;
    grid-template-columns: 25% 72%;
    background-color: red;
    gap: 3%;

}
.resume .info1 .image_container{
    background-color: blue;
}

.resume .info1 .hello1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}