
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.splash h1{
    font-size: 50px;
    line-height: 64px;
    color: #4a4f60;
}

.splash h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

.splash h4{
   font-size: 20px;
   color: #222;
}

.splash h6{
    font-weight: 700;
    font: 12px;
}

.splash p{
    padding: 0%;
    font-size: 16px;
    color: #34333c;
    margin: 15px 0 20px 0;
}

.splash .section-p1{
    padding: 40px 80px;
}
.splash .section-p1 p{
    font-size: 20px;
}
.splash .section-m1{
    margin: 40px 0;
}



/*Header part*/
.splash #header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px  80px;
    background:black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: sticky;
    z-index: 999;

}

.splash #navbar1{
    display: flex;
    align-items:  center;
    justify-content: center;
}

.splash #navbar1 li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

.splash #navbar1 li a{
    text-decoration: none;
    font-size:  16px;
    font-weight: 600;
    color: #ECE6DB;
    transition: 0.3s ease-in-out;
}

.splash #navbar1 li a:hover, 
.splash #navbar1 li a.active{
    color: #088178;
}

.splash #navbar1 li a.active::after,
.splash #navbar1 li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.splash .body_container{
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 2%;
    padding: 3%;
}

.splash .body_container #offer{
    width: 100%;
    height: cover;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    text-align: justify;
}


.splash .body_container #offer h1{
    color: #088178;
}
.splash .body_container .auth{
    width: 100%;
    height: auto;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}







.splash .col p{
    font-size: 18px;
    margin: 0 0 8px 0;
}




@media (max-width: 799px){
    #navbar1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        background-color: #272727;
        box-shadow: 0 40px 00px rgba(0, 0,0,0.1);
        padding: 80px 0 0 10px;  
        transition: 0.3s;  
    }

    #navbar1.active{
        right: 0px;
    }
    #navbar1 li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #cce7d0;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #cce7d0;
        font-size: 24px;
        display: initial;
    }

    #bag{
        display: none;
    }

    #offer{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 50%;
    }

    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px ;
    }
    #product .pro-container{
        display: flex;
        justify-content: center;
       
    }
}

@media (max-width:477px){
    
}